body {
    background-color: #E7F6D0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

.hero-img {
    height: 500px;
    min-width: 100%;
    object-fit: cover;
}

.navigation-menu {
    background-color: #93C47D;
}

.footer-bar {
    height: 100px;
    background-color: #93C47D;
}