/* Body and main styling */
html {
    height: 100%;
    margin: 0;
}


body {
    background-color: #E7F6D0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

main {
    flex: 1;
    margin-top: 30px;

}

/* Header Styling */

.hero-img {
    height: 500px;
    min-width: 100%;
    object-fit: cover;
    max-width: 100%;
}

.navigation-menu {
    background-color: #93C47D;
    position: fixed;
    min-width: 100%;
}

.btn-nav {
    background-color: #608D8E;
    color: white;
    margin: 15px;
}

.intro-text {
    margin: 0px 0px 30px 0px;
}

/* Services styling */

.service-info {
    background-color: #436A75;
    color: white;
    margin: 50px 30px;
    padding: 20px 20px;
    max-width: 250px;
    text-align: center;
}

.service-info h4{
    text-transform: uppercase;
}

.service-info ul {
    list-style-type: none;
    padding: 0;
}

.service-info li {
    text-align: center;
}

/* customer review styling */

.customer-reviews {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;

}

.review-title {
    font-weight: bold;
}


/* Footer stying */

.fa-brands {
    color: #436A75;
}

.footer-bar {
    height: 100px;
    background-color: #93C47D;
}

.footer-bar-contact {
    margin-top: 50px;
    height: 100px;
    background-color: #93C47D;
}